<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!--add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttp_LargeMessage" sendTimeout="00:00:30" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" allowCookies="false">
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="FriendsDomain.Core.v1.FriendsService">
        <endpoint address="" binding="basicHttpBinding" bindingName="BasicHttp_LargeMessage" bindingNamespace="http://friends.net/friendsDomain/2016/01" contract="FriendsDomain.Contracts.v1.Service.IFriendsService" bindingConfiguration="BasicHttp_LargeMessage" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="FriendsDatabase" connectionString="Data Source=localhost; Initial Catalog=Friends; Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>
